.Weather {
  border: 1px solid;
  text-align: left;
  color: gray;
  background-color: skyblue;
  padding: 16px;
  margin: 30px auto;

  border-radius: 4px;
}
.Weather form {
  margin: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: 64px;
  color: blue;
  font-size: 54px;
  line-height: 10px;
  font-weight: 400;
  position: relative;
}
.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  top: -34px;
  line-height: 5;
}
